<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="icon" href="assets/images/4140435_logo_tesla_tesla-motors_icon.ico" type="image/gif" sizes="any">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">


    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">

    <title>Tesla Home-Page</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-finance-business.css">
    <link rel="stylesheet" href="assets/css/owl.css">

</head>

<body>
<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->

<!-- Header -->
<div class="sub-header">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xs-12">
                <ul class="left-info">
                    <li><a href="#"><i class="fa fa-clock-o"></i>Mon-Fri 09:00-17:00</a></li>
                    <li><a href="#"><i class="fa fa-phone"></i>888-999-555-777</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="right-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="/logout"><i class="fa fa-sign-out"></i></a></li>
                </ul>

            </div>
        </div>
    </div>
</div>

<!-- Button trigger modal -->


<header class="">

    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/"><h2 class="logo" style="font-size:180%">T e s l a</h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/allCars">All Cars</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="main-banner header-text" id="top">
    <div class="Modern-Slider">
        <!-- Item -->
        <div class="item item-1">
            <div class="img-fill">
                <div class="text-content">
                    <h6>Accelerating the World's <br> Transition to Sustainable Energy</h6>
                    <h4>Tesla Motors</h4>
                    <p>We’re building a world powered by solar energy, running on batteries and transported by electric
                        vehicles.</p>
                    <a href="/contact" class="filled-button">contact us</a>
                    <a href="/login" class="filled-button">login</a>
                </div>
            </div>
        </div>


        <div class="item item-2">
            <div class="img-fill">
                <div class="text-content">
                    <h6>Exiting the Fossil Fuel Era</h6>
                    <h4>Model S</h4>
                    <p>Every new Model S includes Tesla’s latest active safety features, such as Automatic Emergency
                        Braking, at no extra cost.</p>
                    <a href="/services" class="filled-button">our services</a>
                </div>
            </div>
        </div>
        <!-- // Item -->
        <!-- Item -->
        <div class="item item-3">
            <div class="img-fill">
                <div class="text-content">
                    <h6>We design and build products that people love</h6>
                    <h4>Tesla Motors</h4>
                    <p>We design and manufacture a fully integrated energy and transportation ecosystem. By doing so, we
                        create products that work together for maximum impact—leading to the greatest environmental
                        benefit possible. </p>
                    <a href="/about" class="filled-button">learn more</a>
                </div>
            </div>
        </div>
        <!-- // Item -->
    </div>
</div>
<!-- Banner Ends Here -->
<div class="request-form" >
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h4>If you have an any questions please contact as ?</h4>
                <span>Accelerating the World's Transition to Sustainable Energy</span>
                <div class="col-md-4">
                    <a href="/contact" class="border-button">Contact Us</a>
                </div>
            </div>
            <div class="col-md-4">
                    <a class="border-button" href="/account">My Account</a>
            </div>
            <br>
        </div>
    </div>
</div>




<div class="services ">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Tesla <em>Motors</em></h2>
                    <span>Our cars</span>
                </div>
            </div>
            <!--            <div class="testimonials-tesla">-->
            <!--                <div class="container">-->
            <!--                    <div class="row">-->
            <div class="owl-testimonials owl-carousel">

                <div class="col-md-4">
                    <div class="service-item">
                        <img src="assets/images/modelS.jpg" style="width: 250%; margin-left: 65px">
                        <div class="down-content" style="width: 250%;  margin-left: 65px">
                            <h4>Tesla Model S</h4>
                            <p>253 miles range (EPA) 3.1 seconds 0-60 mph. 691 hp motor power. 221 hp front,
                                470 hp rear. 155 mph top speed.</p>
                            <a href="/teslaMS" class="filled-button">Read More</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 ">
                    <div class="service-item">
                        <img src="assets/images/modelY.jpg" style="width: 250%; margin-left: 65px">
                        <div class="down-content " style="width: 250%; margin-left: 65px">
                            <h4>Tesla Model Y</h4>
                            <p>The 2022 Tesla Model Y electric gets an electric motor of 290 hp @ 6200 rpm kW which
                                helps produce 290 hp @ 6200 rpm horsepower.</p>
                            <a href="/teslaMY" class="filled-button">Read More</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 ">
                    <div class="service-item">
                        <img src="assets/images/modelX2.jpg" style="width: 250%; margin-left: 65px">
                        <div class="down-content" style="width: 250%; margin-left: 65px">
                            <h4>Tesla Model X</h4>
                            <p>Acceleration 3.8 s 0-60 mph
                                Top Speed 155 mph
                                Drag Coefficient 0.24 Cd
                                Weight 5,185 lb
                                Powertrain Dual Motor.</p>
                            <a href="/teslaMX" class="filled-button">Read More</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 ">
                    <div class="service-item">
                        <img src="assets/images/model3.jpg" style="width: 250%; margin-left: 65px">
                        <div class="down-content" style="width: 250%; margin-left: 65px">
                            <h4>Tesla Model 3</h4>
                            <p>Tesla Model S and Model 3 batteries run at nominal voltages of about 375 volts and 350 volts, respectively.</p>
                            <a href="/teslaM3" class="filled-button">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="fun-facts">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="left-content">
                    <span class="logo" style="font-size: 130%">T E S L A</span>
                    <h2>Tesla Motors <em>Company history and operations</em></h2>
                    <p>Tesla was incorporated in July 2003 by Martin Eberhard
                        and Marc Tarpenning as Tesla Motors.
                        The company's name is a tribute to inventor and electrical engineer Nikola Tesla. In
                        February
                        2004, via a $6.5 million investment,
                        Elon Musk became the largest shareholder of the company. He has served as CEO since
                        2008.
                        <br><br> According to Musk, the purpose of Tesla is to help expedite the move to
                        sustainable
                        transport and energy, obtained through electric vehicles and solar power.
                        Tesla began production of its first car model, the Roadster sports car, in 2009. This
                        was
                        followed by the Model S sedan in 2012, the Model X SUV in 2015, the Model 3 sedan in
                        2017,
                        and the Model Y crossover in 2020.</p>
                    <a href="/teslaHistory" class="filled-button">Read More</a>
                </div>
            </div>
            <div class="col-md-6 align-self-center">
                <div class="row">
                    <div class="col-md-6">
                        <div class="count-area-content">
                            <div class="count-digit">23</div>
                            <div class="count-title">Years</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="count-area-content">
                            <div class="count-digit">5000</div>
                            <div class="count-title">Employees</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="count-area-content">
                            <div class="count-digit">3000</div>
                            <div class="count-title">Sold Car</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="count-area-content">
                            <div class="count-digit">20</div>
                            <div class="count-title">Awards Won</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="more-info">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="more-info-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="left-image">
                                <img src="assets/images/autopilot.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 align-self-center">
                            <div class="right-content">
                                <span>Autopilot</span>
                                <h2>Get to know about <em>our Autopilot System</em></h2>
                                <p>Autopilot advanced safety and convenience
                                    features are designed to assist you with the most burdensome parts of driving.
                                    <br><br>  Autopilot introduces new features
                                    and improves existing functionality to make your
                                    Tesla safer and more capable over time.</p>
                                <a href="/teslaAutopilot" class="filled-button">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="testimonials">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Our leadership <em>team</em></h2>
                </div>
            </div>

            <div class="col-md-12">
                <div class="owl-testimonials owl-carousel">

                    <div class="testimonial-item">
                        <div class="inner-content">
                            <h4>Elon Musk</h4>
                            <span>CEO, and product architect of Tesla</span>
                            <p>"Elon Musk owns 193.3 million Tesla shares, representing 20.7% of total shares outstanding,
                                according to a 13G filing for the period ending December 31, 2019."</p>
                        </div>
                        <img src="http://placehold.it/60x60" alt="">
                    </div>

                    <div class="testimonial-item">
                        <div class="inner-content">
                            <h4>Kimbal Musk</h4>
                            <span>South African Canadian-American restaurateur, entrepreneur. </span>
                            <p>"Kimbal Musk, the younger brother of Elon Musk, owns a total
                                of 629,740 Tesla shares, representing 0.07% of t
                                he company's total shares outstanding. 4 "
                            </p>
                        </div>
                        <img src="http://placehold.it/60x60" alt="">
                    </div>

                    <div class="testimonial-item">
                        <div class="inner-content">
                            <h4>Zachary Kirkhorn</h4>
                            <span>Chief financial officer of Tesla</span>
                            <p>"Zachary Kirkhorn owns a total of 55,624 Tesla shares,
                                representing 0.01% of the company's
                                total shares outstanding. Kirkhorn has been chief financial
                                officer of Tesla since March 2019."</p>
                        </div>
                        <img src="http://placehold.it/60x60" alt="">
                    </div>

                    <div class="testimonial-item">
                        <div class="inner-content">
                            <h4>Jerome M. Guillen</h4>
                            <span>Transport Executive</span>
                            <p>"Jerome M. Guillen owns a total of 49,357 Tesla shares,
                                representing 0.01% of the company's
                                total shares outstanding.Guillen has been president of Automotive
                                at Tesla since September 2018."</p>
                        </div>
                        <img src="http://placehold.it/60x60" alt="">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="map">

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3785.914003913725!2d-74.00871478430201!3d40.683231947311384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a5e1fca5ef5%3A0x8a622d05ecb73d2e!2sTesla!5e1!3m2!1shy!2s!4v1666301314512!5m2!1shy!2s" width="100%" height="500px" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<div class="partners">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="owl-partners owl-carousel">

                    <div class="partner-item">
                        <img src="assets/images/580b585b2edbce24c47b2cc9.png" title="1" alt="1">
                    </div>

                    <div class="partner-item">
                        <img src="assets/images/580b585b2edbce24c47b2cc9.png" title="2" alt="2">
                    </div>

                    <div class="partner-item">
                        <img src="assets/images/580b585b2edbce24c47b2cc9.png" title="3" alt="3">
                    </div>

                    <div class="partner-item">
                        <img src="assets/images/580b585b2edbce24c47b2cc9.png" title="4" alt="4">
                    </div>

                    <div class="partner-item">
                        <img src="assets/images/580b585b2edbce24c47b2cc9.png" title="5" alt="5">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<footer th:insert="footer/footer :: footer"></footer>
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Additional Scripts -->
<script src="assets/js/custom.js"></script>
<script src="assets/js/owl.js"></script>
<script src="assets/js/slick.js"></script>
<script src="assets/js/accordions.js"></script>
<!--<script>-->
<!--    setTimeout(() => {-->
<!--        const box = document.getElementById('box1');-->

<!--        // 👇️ removes element from DOM-->
<!--        box.style.display = 'none';-->

<!--        // 👇️ hides element (still takes up space on page)-->
<!--        // box.style.visibility = 'hidden';-->
<!--    }, 5000); // 👈️ time in milliseconds-->

<!--</script>-->

</body>
</html>